@use "@/assets/styles/env" as *;

// .float-wrap {
//     display: none;
// }

body {
    &.is-static {
        min-width: var(--page-width);
        background-color: rgb(var(--color-primary-bg));
    }
}

.is-static .page-layout {
    min-height: 100vh;
    font-size: 12px;
    color: rgb(var(--color-primary-text));
    &::before {
        content: '';
        pointer-events: none;
        width: 100%;
        min-width: var(--page-width);
        height: 100%;
        background: var(--page-bg);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

.first-section-wrap {
    .section-wrap {
        max-width: var(--page-width);
        margin: 0 auto;
    }
}
.first-main-wrap {
    padding: 54px 0 27px;
}



.header-top{
    height: 116px;
    background-color: rgb(var(--color-secondary-bg) / 20%);
    .header-container {
        display: grid;
        grid-template-columns: auto 1fr;
        width: var(--page-width);
        margin: 0 auto;
    }
}
.header-bottom {
    .header-container {
        width: var(--body-width);
        margin: 0 auto;
        position: relative;
    }
    .news-wrap {
        width: 700px;
        position: absolute;
        bottom: 12px;
    }
}
.banner-wrap {
    width: var(--body-width);
    height: 250px;
    background-repeat: no-repeat;
    margin: 19px 0 18px;
}


.ele-logo-wrap {
    overflow: hidden;
    display: block;
    height: 116px;
    padding-right: 13px;
    .ele-logo-img {
        color: rgb(var(--color-primary));
    }
}

.header-right-top {
    display: grid;
    grid-template-columns: repeat(3, auto) 1fr;
    margin-top: 16px;
}

.est-timing {
	width: 230px;
	font-size: 15px;
    margin: 9px 17px 0 19px;
}

.top-link-wrap {
    margin: 9px 18px 0 0;
}
.ele-custom-link-wrap {
    max-width: 260px;
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
	.ele-custom-link {
        display: inline-block;
		a {
			color: rgb(var(--color-secondary-text));
			margin: 0 3px;
		}
		&:hover a {
			color: rgb(var(--color-primary));
		}
	}
	.ele-custom-link-line {
		display: inline-block;
        vertical-align: top;
        color: rgb(var(--color-secondary-text));
	}
}


.lang-wrap {
    margin-top: 9px;
}


// login
.login-wrap {
    padding-bottom: 16px;
    .ele-login-unit {
        overflow: hidden;
        width: 180px;
        height: 35px;
        border-radius: 5px;
        border: 1px solid transparent;
        background-color: rgb(var(--color-tertiary-bg) / 30%);
        .ele-login-input {
            font-size: 13px;
        }
        &:has(.ele-login-input:focus) {
            border-color: rgb(var(--color-primary));
        }
    }
    .ele-show-password {
        right: 32px;
        svg {
            width: 17px;
            color: rgb(255 255 255);
        }
    }
    .ele-forget-pw {
        position: absolute;
        top: 50%;
        right: var(--input-padding);
        transform: translateY(-50%);
        svg {
            width: 21px;
            color: rgb(var(--color-primary));
        }
    }
    .ele-login-unit-password {
        margin: 0 4px 0 11px;
    }
}
.ele-login-submit,
.ele-join-btn {
    width: 80px;
    height: 35px;
    font-size: 13px;
    color: rgb(var(--color-primary-text));
    background-color: rgb(var(--color-primary));
    border-radius: 20px;
    &:hover {
        background-color: rgb(var(--color-primary) / 80%);
    }
}
.ele-join-btn {
    display: inline-block;
    text-align: center;
    line-height: 35px;
    background-color: rgb(var(--color-secondary));
    margin-left: 6px;
    &:hover {
        background-color: rgb(var(--color-secondary) / 80%);
    }
}

.member-wrap {
    margin-left: auto;
}
.meminfo-wrap {
    padding-bottom: 8px;
}
.ele-meminfo-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 15px;
    padding-bottom: 5px;
    margin-right: 10px;
    .ele-meminfo-name {
        margin-right: 13px;
    }
    .ele-meminfo-balance,
    .ele-other-balance {
        display: inline-block;
        vertical-align: middle;
    }
    .ele-other-balance-icon {
        display: block;
        color: rgb(var(--color-primary));
        margin-left: 4px;
    }
}
.ele-meminfo-link-wrap {
    font-size: 15px;
    overflow: hidden;
    text-align: right;
    white-space: nowrap;
    margin-right: 7px;
	.ele-meminfo-link {
        display: inline-block;
		a {
			color: rgb(var(--color-primary-text));
			margin: 0 3px;
		}
		&:hover a {
			color: rgb(var(--color-primary));
		}
	}
	.ele-meminfo-link-line {
		display: inline-block;
        color: rgb(var(--color-primary-text));
	}
}
.ele-logout-btn {
    color: rgb(var(--color-primary-text));
    background-color: transparent;
    margin: 0 3px;
    &:hover {
        color: rgb(var(--color-primary));
    }
}

// mainnav
.mainnav-wrap {
    display: inline-block;
    .ele-navbar {
        padding-right: 22px;
        > ul {
            display: flex;
        }
    }
    .ele-morenav-link-wrap {
        display: inline-block;
        position: relative;
        .ele-morenav-sublink-title {
            display: block;
            width: 15px;
            height: 18px;
            color: rgb(var(--color-primary));
            position: absolute;
            top: 6px;
            left: 0;
        }
        .ele-morenav-container {
            position: absolute;
            top: 24px;
            z-index: 2099;
        }
        .ele-morenav-sublink {
            display: block;
            width: 128px;
            height: 38px;
            text-align: center;
            align-content: center;
            color: rgb(255 255 255);
            background-color: rgba(18 18 18 / 95%);
            &:hover {
                color: rgb(var(--color-primary));
            }
        }
    }
    .ele-navbar-link {
        display: block;
        width: 112px;
        height: 40px;
        text-align: center;
        font-size: 18px;
        color: rgb(var(--color-primary-text));
        border-bottom: 3px solid transparent;
        padding-top: 4px;
        &:hover {
            color: rgb(var(--color-primary));
        }
        &.active {
            color: rgb(var(--color-primary));
            border-bottom-color: rgb(var(--color-primary));
        }
    }
}


// news
.news-wrap {
    overflow: hidden;
    display: flex;
    align-items: center;
    .first & {
        padding-left: 2px;
        margin-top: 15px;
    }
    .news-title {
        font-size: 18px;
        color: rgb(var(--color-primary));
        margin-right: 20px;
    }
    .ele-msgnews-link {
        font-size: 15px;
        color: rgb(var(--color-secondary-text));
        &:hover {
            color: rgb(var(--color-primary));
        }
    }
}


.first-main-wrap {
    .section-wrap {
        display: flex;
        justify-content: space-between;
    }
    .main-left-wrap {
        width: 980px;
    }
}
.first-slider-wrap {
    --swiper-pagination-bullet-inactive-color: rgb(33 34 36);
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bottom: 31px;
    .slider-wrap {
        overflow: hidden;
        display: inline-block;
        width: 550px;
        border-radius: 20px;
        margin-right: 26px;
    }
    .first-promotion-warp {
        display: inline-block;
    }
}
.first-promotion-warp {
    .ele-promotion-link {
        display: block;
    }
}

.first-hotgame-warp {
    width: 363px;
    .first-hotgame-title {
        font-size: 21px;
        font-weight: bold;
        margin-bottom: 24px;
        span {
            font-size: 15px;
            margin-left: 7px;
        }
    }
    .first-hotgame-warp {
        --swiper-pagination-bottom: 12px;
        .swiper {
            height: 296px;
        }
    }
}
.first-hotgame-item {
    display: grid;
    grid-template-columns: 54px 37px 1fr auto;
    align-items: center;
    height: 46px;
    border-radius: 10px;
    background-color: rgb(var(--color-secondary-bg) / 20%);
    margin-bottom: 5px;
    .first-hotgame-rank {
        text-align: center;
    }
    .first-hotgame-name {
        padding-left: 7px;
        .first-hotgame-name-top {
            font-size: 13px;
            margin-bottom: 4px;
        }
        .first-hotgame-name-bottom {
            color: rgb(var(--color-secondary-text));
        }
    }
    .first-hotgame-number {
        padding-right: 21px;
    }
}

.first-game-wrap {
    background-color: rgb(var(--color-secondary-bg) / 20%);
    padding: 27px 0 42px;
    .first-game-tab-wrap {
        text-align: right;
        margin-bottom: 25px;
        .first-game-tab {
            min-width: 119px;
            height: 41px;
            font-size: 18px;
            color: rgb(var(--color-primary-text));
            border-radius: 20px;
            border: 1px solid transparent;
            background-color: rgb(var(--color-tertiary-bg) / 20%);
            + .first-game-tab {
                margin-left: 19px;
            }
            &.active {
                color: rgb(var(--color-primary));
                border-color: rgb(var(--color-primary));
                background-color: rgb(var(--color-tertiary-bg) / 0%);
            }
            &:hover {
                background-color: rgb(var(--color-tertiary-bg) / 30%);
            }
        }
    }
    .first-game-container {
        display: flex;
    }
    .first-game-item {
        + .first-game-item {
            margin-left: 28px;
        }
        .first-item-img {
            width: 146px;
            height: 136px;
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgb(var(--color-tertiary-bg) / 60%);
                opacity: 0;
                transition: opacity .3s;
            }
        }
        .first-item-btn {
            width: 101px;
            height: 37px;
            font-size: 13px;
            color: rgb(var(--color-primary-text));
            border-radius: 20px;
            background-color: rgb(var(--color-primary));
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: top .3s, opacity .3s;
        }
        .first-item-info {
            margin-top: 20px;
            position: relative;
        }
        .first-item-name {
            font-size: 15px;
            color: rgb(var(--color-primary-text));
        }
        .first-item-hot {
            height: 18px;
            line-height: 19px;
            color: rgb(255 255 255);
            background: rgb(var(--color-red));
            border-radius: 3px;
            padding: 0 8px;
            position: absolute;
            top: 0;
            right: 0;
        }
        .first-item-platform {
            font-size: 13px;
            color: rgb(var(--color-secondary-text));
            padding-top: 7px;
        }
        &:hover {
            .first-item-img::before {
                opacity: 1;
            }
            .first-item-btn {
                top: 50%;
                opacity: 1;
            }
        }
    }
}

.first-live-wrap {
    --first-live-line: rgb(var(--color-red));
    padding: 34px 0 53px;
    .section-wrap {
        display: flex;
        align-items: flex-end;
    }
    .first-live-item {
        width: 180px;
        height: 270px;
        background-color: rgb(var(--color-secondary));
        border-radius: 20px;
        margin-left: 15px;
        position: relative;
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background: rgb(var(--color-tertiary-bg) / 50%);
            border-radius: 20px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            opacity: 0;
            transition: opacity .3s;
        }
        .first-live-btn {
            width: 100px;
            height: 35px;
            font-size: 13px;
            line-height: 35px;
            color: rgb(var(--color-primary-text));
            background-color: rgb(var(--color-primary));
            border-radius: 20px;
            position: absolute;
            left: 50%;
            bottom: 41px;
            z-index: 3;
            transform: translateX(-50%);
            opacity: 0;
            transition: bottom .3s, opacity .3s;
        }
        .first-live-info {
            text-align: center;
            padding-top: 20px;
            position: relative;
            z-index: 3;
        }
        .first-live-title {
            font-size: 32px;
            font-weight: bold;
            color: rgb(var(--color-primary-text));
            position: relative;
            &::before {
                content: '';
                display: block;
                width: 42px;
                height: 2px;
                background-color: var(--first-live-line);
                position: absolute;
                left: 50%;
                bottom: -6px;
                transform: translateX(-50%);
            }
        }
        .first-live-description {
            font-size: 13px;
            color: rgb(var(--color-primary-text));
            padding-top: 15px;
        }
        &:hover {
            &::after {
                opacity: 1;
            }
            .first-live-btn {
                bottom: 51px;
                opacity: 1;
            }
        }
    }
    .first-live-item-bb {
        width: 580px;
        height: 332px;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        .first-live-btn {
            width: 120px;
            height: 44px;
            font-size: 13px;
            line-height: 44px;
            color: rgb(var(--color-primary-text));
            background-color: rgb(var(--color-primary));
            border-radius: 23px;
            position: relative;
            top: 0;
            transition: top .3s;
        }
        .first-live-info {
            width: 276px;
            text-align: center;
            position: absolute;
            right: 22px;
            bottom: 35px;
            z-index: 3;
        }
        .first-live-title {
            font-size: 32px;
            font-weight: bold;
            color: rgb(var(--color-primary-text));
            position: relative;
            &::before {
                content: '';
                display: block;
                width: 42px;
                height: 2px;
                background-color: var(--first-live-line);
                position: absolute;
                left: 50%;
                bottom: -6px;
                transform: translateX(-50%);
            }
        }
        .first-live-description {
            word-break: keep-all;
            text-align: left;
            font-size: 13px;
            line-height: 18px;
            color: rgb(var(--color-primary-text));
            padding: 23px 0 15px;
        }
        .first-live-game {
            color: rgb(var(--color-primary));
            padding-top: 10px;
        }
        .first-live-img {
            z-index: 2;
        }
        .first-live-img,
        .first-live-bg {
            color: rgb(var(--color-secondary));
            position: absolute;
            left: 0;
            bottom: 0;
        }
        &:hover {
            .first-live-btn {
                top: -5px;
            }
        }
    }
}

.first-mob-wrap {
    background-color: rgb(var(--color-secondary-bg) / 20%);
    padding: 46px 0 40px;
    .first-mob-left-wrap {
        display: inline-block;
        vertical-align: top;
        margin: 0 14px 0 9px;
    }
    .first-mob-title {
        text-align: center;
        font-size: 32px;
        color: rgb(var(--color-primary));
        margin-bottom: 22px;
    }
    .first-mob-description {
        width: 589px;
        font-size: 15px;
        line-height: 36px;
        word-break: keep-all;
        margin-bottom: 43px;
    }
    .first-mob-download {
        padding-left: 87px;
    }
    .first-mob-qrcode {
        display: inline-block;
        margin-right: 108px;
        .first-mob-qrcode-text {
            font-size: 15px;
            line-height: 20px;
            text-align: center;
            padding-top: 20px;
        }
        .first-mob-qrcode-img {
            box-sizing: border-box;
            display: block;
            width: 136px;
            height: 136px;
            padding: 7px;
            background-color: rgb(var(--color-secondary-bg) / 30%);
        }
    }
    .first-mob-h5 {
        display: inline-block;
        text-align: center;
        vertical-align: top;
        .first-mob-h5-text {
            font-size: 15px;
            line-height: 20px;
            text-align: center;
            padding-top: 20px;
        }
        .first-mob-h5-icon,
        .first-mob-url {
            color: rgb(var(--color-primary));
        }
    }
    .first-mob-right-wrap {
        display: inline-block;
        vertical-align: top;
    }
}


.page-footer {
    background: rgb(var(--color-secondary-bg) / 30%);
    border-top: 1px solid rgb(112 112 112);
    padding: 25px 0 37px;
}
.footer-top-wrap {
    max-width: var(--page-width);
    padding-bottom: 17.5px;
    margin: 0 auto;
    .top-logo-wrap,
    .top-pay-wrap {
        display: inline-block;
        vertical-align: top;
        a {
            display: inline-block;
        }
    }
    .top-logo-wrap {
        margin-right: 39px;
        .footer-top-title {
            margin-right: 10px;
        }
        .footer-logo-bb {
            margin-right: 12px;
        }
        .footer-logo-ub {
            margin-right: 13px;
        }
    }
    .top-pay-wrap .footer-top-title {
        margin-right: 29px;
    }
    .footer-top-title {
        display: inline-block;
        vertical-align: top;
        font-size: 21px;
        font-weight: bold;
        padding-top: 1px;
    }
}
.footer-middle-wrap {
    display: grid;
    grid-template-columns: 152px 1fr auto;
    align-items: center;
    max-width: var(--page-width);
    border-top: 1px solid rgb(112 112 112);
    padding: 18.5px 0 54px;
    margin: 0 auto;
    .footer-middle-title {
        font-size: 21px;
        font-weight: bold;
        padding-top: 1px;
    }
    .footer-middle-text {
        width: 698px;
        font-size: 15px;
        line-height: 24px;
        color: var(--color-secondary-text);
    }
}
.footer-bottom-wrap {
    display: flex;
    justify-content: space-between;
    max-width: var(--page-width);
    margin: 0 auto;
    .footer-bottom-copyright {
        font-size: 15px;
    }
}
.article-menu {
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    ul {
        width: 710px;
        text-align: right;
    }
	.ele-article-link {
        display: inline-block;
        vertical-align: top;
		a {
			color: rgb(var(--color-secondary-text));
			margin: 0 12px;
		}
		&:hover a {
			color: rgb(var(--color-primary));
		}
	}
	.ele-article-link-line {
		display: inline-block;
        vertical-align: top;
        color: rgb(var(--color-secondary-text));
	}
}



.card, .casino, .live, .lottery, .sport {
    .page-body {
        width: calc(var(--body-width) - 44px);
        padding: 31px 22px 33px;
    }
}
.page-body {
    display: flex;
    width: var(--body-width);
    background: rgba(255 255 255 / 20%);
    border-radius: 20px;
    margin: 0 auto 62px;
    .imgHall {
        max-width: 100%;
        margin: 0 auto;
    }
}

.page-sidebar {
    flex: 0 0 calc(301px - 29px * 2);
    background: rgba(255 255 255 / 17%);
    border-radius: 20px;
    padding: 58px 29px;
}
.sidemenu {
    .ele-article-link {
        border-radius: 30px;
        overflow: hidden;
        a {
            display: block;
            text-align: center;
            align-content: center;
            height: 56px;
            font-size: 18px;
            color: rgb(var(--color-primary-text));
        }
        &:hover a {
            color: rgb(var(--color-primary));
        }
        &.active {
            background-color: rgb(var(--color-primary));
            a {
                color: rgb(var(--color-primary-text));
            }
        }
    }
}

.page-right {
    width: 100%;
}
.article-wrap {
    box-sizing: border-box;
    font-size: 18px;
    color: rgb(var(--color-secondary-text));
    padding: 63px 50px;
    p {
        line-height: 1.6;
        margin-bottom: 30px;
    }
    ol {
        line-height: 1.4;
        padding-left: 18px;
    }
}

.Union {
    margin-bottom: 40px;
    .mtab-menual {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid rgba(0 0 0);
        li {
            flex: 0 0 112px;
            height: 35px;
            font-size: 15px;
            font-weight: bold;
            text-align: center;
            align-content: center;
            color: rgb(var(--color-primary-text));
            cursor: pointer;
            &.mtab {
                color: rgb(var(--color-primary));
                border-bottom: 2px solid rgb(var(--color-primary));
            }
        }
    }
}