:root {
	/* layout */
	--page-width: 1366px;
	--body-width: 1200px;

	/* 背景影像（預設無） */
	--page-bg: none;

	/* spacing */
	--input-padding: 6px;

	/* 第三方套件 */
	--swiper-pagination-color: rgb(var(--color-primary));

	/* 餘額區塊 */
	--balance-bg: rgb(0 0 0);
	--balance-text: rgb(255 255 255);
	--balance-tool-bg: rgb(167 167 167);
	--balance-tool-line: transparent;
	--balance-btn-bg: rgb(var(--color-primary));
	--balance-btn-bg-hover: rgb(var(--color-primary) / 80%);
	--balance-btn-text: rgb(255 255 255);
	--balance-btn-radius: 4px;

	/* 註冊 */
	--join-title: rgb(var(--color-primary-text));
	--join-subtitle: rgb(var(--color-primary-text));
	--join-text: #fff;
	--join-captcha: rgb(128 136 161);
	--join-tips: rgb(var(--color-primary-text));
	--join-line: rgb(var(--color-primary));
	--join-star: rgb(144 45 13);
	// 註冊 - Input
	--join-input-text: rgb(0 0 0);
	--join-input-placeholder: rgb(117 117 117);
	--join-input-bg: rgb(255 255 255);
	--join-input-border: rgb(218 218 218);
	--join-input-focus: rgb(var(--color-primary));
	// 註冊 - Wallet
	--join-wallet-bg: var(--join-input-bg);
	--join-wallet-border: var(--join-input-border);
	--join-wallet-primary: rgb(64 78 103);
	--join-wallet-title: rgb(117 117 117);
	--join-wallet-line: rgb(117 117 117);
	--join-wallet-label: rgb(255 255 255 / 50%);
	// 註冊 - Submit Button
	--join-submit-bg: rgb(77 131 178);
	--join-submit-hover-bg: rgb(77 131 178 / 90%);
	--join-submit-text: rgb(255 255 255);
	--join-submit-hover-text: rgb(255 255 255);
	--join-submit-border: 0;
	--join-submit-radius: 0;


	/* 共用色 */
	--color-red: 210 25 39;
	--color-tertiary: 255 255 255;      /* #ffffff */
	--color-secondary-bg: 248 248 248;  /* #f8f8f8 */
	--color-tertiary-bg: 2 2 2;         /* #020202 */
	--color-tertiary-text: 255 255 255; /* #ffffff */

	/* 預設主題（無品牌時的保底） */
	--color-primary: 14 116 255;        /* #0e74ff */
	--color-secondary: 80 184 248;      /* #50b8f8 */
	--color-primary-bg: 0 0 0;          /* #000000 */
	--color-primary-text: 255 255 255;  /* #ffffff */
	--color-secondary-text: 167 167 167;/* #a7a7a7 */
}

/* dark */
:root[data-theme~="light"] {
    --join-text: rgb(34 34 34);
}

/* 250122-1 */
:root[data-theme~="2501221"] {
	--color-primary: 14 116 255;        /* #0e74ff */
	--color-secondary: 80 184 248;      /* #50b8f8 */
	--color-primary-bg: 0 0 0;          /* #000000 */
	--color-primary-text: 255 255 255;  /* #ffffff */
	--color-secondary-text: 167 167 167;/* #a7a7a7 */
}

/* 250122-2 */
:root[data-theme~="2501222"] {
	--color-primary: 244 122 234;       /* #f47aea */
	--color-secondary: 132 71 200;      /* #8447c8 */
	--color-primary-bg: 54 37 175;      /* #3625af */
	--color-primary-text: 255 255 255;  /* #ffffff */
	--color-secondary-text: 219 219 219;/* #dbdbdb */
	--page-bg: linear-gradient(180deg, rgb(var(--color-secondary)), transparent);
}

/* 250122-3 */
:root[data-theme~="2501223"] {
	--color-primary: 255 168 29;        /* #ffa81d */
	--color-secondary: 36 249 228;      /* #24f9e4 */
	--color-primary-bg: 14 206 255;     /* #0eceff */
	--color-primary-text: 0 0 0;        /* #000000 */
	--color-secondary-text: 54 54 54;   /* #363636 */
	--page-bg: linear-gradient(180deg, rgb(var(--color-secondary) / 80%), transparent);
}

/* 250122-4 */
:root[data-theme~="2501224"] {
	--color-primary: 226 87 87;         /* #e25757 */
	--color-secondary: 255 217 220;     /* #ffd9dc */
	--color-primary-bg: 230 230 230;    /* #e6e6e6 */
	--color-primary-text: 0 0 0;        /* #000000 */
	--color-secondary-text: 72 72 72;   /* #484848 */
}